html, body {
    background-color: rgb(226, 247, 238);
    margin: 20px;
    padding: 20px;
}

h1 {
    color:blue;
    text-align: center;
}
 h3 {
    color: rgb(101, 29, 3);
    font-size: 25px;
 }

 h4, p, li {
    font-size: 20px;;
 }
#basicInfo {
    text-align: center;
}

#cardDiv {
    background-color: rgb(216, 224, 227);
    border: 4px solid coral;
    padding: 25px;
    margin: 20px auto;
    max-width: 900px;
    width:100%;
    box-sizing: border-box;
}

#details {
    display: flex;
    justify-content: space-between;
    gap:20px;
    flex-wrap: wrap;
}

#details img {
    max-width: 100%;
    height:auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    #details {
        flex-direction: column;
        align-items: center;
    }
}

#contactInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

#contactInfo h4 {
    flex: 1 1 auto; /* to allow resizing */
    margin: 5px;
}

.input-field {
    width:100%;
    max-width: 400px;
    height:40px;
    font-size:16px;
    padding:5px;
    box-sizing: border-box;
}

textarea.input-field {
    height: 120px;
    resize: vertical;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, coral, skyblue);
    border-radius: 2px;
    margin: 20px 0;
}

#homeDiv {
    text-align: center;
}