html, body {
    background-color: rgb(232, 237, 235);
    margin: 20px;
    padding: 20px;
}

h1 {
    color:blue;
    text-align: center;
}

#basicInfo {
    text-align: center;
}

#details {
    display: flex;
    justify-content: space-between;
}

#contactInfo {
    display: flex;
    justify-content: space-between;
}
.input-field {
    width:400px;
    height:40px;
    font-size:16px;
    padding:5px;
}

textarea.input-field {
    height: 120px;
}